@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merienda&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;

  background-color: #49578e;
  background-image: linear-gradient(
    135deg,
    #49578e 15%,
    #8db2e6 30%,
    #637ab0 40%,
    #55669c 60%,
    #49578e 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Merienda', cursive;
}
